@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");

:root {
  --bg-color: #323437;
  /* --main-color: #e2b714; */
  --main-color: #b8b3f8;

  /* --caret-color: #e2b714; */
  --caret-color: #b8b3f8;

  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
img {
  object-fit: cover;
}
